{
  "trailingComma": "all",
  "singleQuote": true,
  "rubyPlugins": "plugin/single_quotes, plugin/trailing_comma",
  "printWidth": 200,
  "plugins": ["@prettier/plugin-ruby", "prettier-plugin-erb"],
  "tabWidth": 2,
"semi": false,
"rubyArrayLiteral": true,
"rubyHashLabel": true,
"rubyModifier": true,
"rubySingleQuote": true,
"rubyToProc": false
}
