<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">My Posts</h2>
  </div>
  <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    <%= link_to 'add', new_post_path %>
  </button>
  <%= turbo_stream_from :posts %>
  <div id="posts">
    <%= render @posts %>
    <% if @pagy.count > @pagy.items %>
      <div class="">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</section>
